{% load static %}
<div class="row">
    <div class="col-lg-3">
        <div class="card homecard rounded-15 h-100" >
            <img src="{% static 'imgs/home/presentation.png' %}" class="px-4 pt-4" alt="..." style="max-height: 100px; object-fit: contain;" >
            <div class="card-body">
              <h6 class="card-title text-center"><a href="{% url 'lessons' request.user.teacher.current_schoolyear.start_date.year %}" class="stretched-link text-decoration-none link-dark">Giáo án</a></h6>
            </div>
          </div>
    </div>
    <div class="col-lg-3">
        <div class="card homecard rounded-15 h-100" >
            <img src="{% static 'imgs/home/schedule.png' %}" class="px-4 pt-4" alt="..." style="max-height: 100px; object-fit: contain;" >
            <div class="card-body">
                {% now 'W' as w %}
                {% now 'Y' as y %}
              <h6 class="card-title text-center"><a href="{% url 'schedule' request.user.username request.user.teacher.current_schoolyear.start_date.year 0 %}" class="stretched-link text-decoration-none link-dark">Lịch báo giảng</a></h6>
            </div>
          </div>
    </div>
    <div class="col-lg-3">
        <div class="card homecard rounded-15 h-100" >
            <img src="{% static 'imgs/home/writing.png' %}" class=" px-4 pt-4" alt="..." style="max-height: 100px; object-fit: contain;" >
            <div class="card-body">
              <h6 class="card-title text-center"><a href="{% url 'check_lessons_subject'  request.user.teacher.current_schoolyear.start_date.year 'all' %}" class="stretched-link text-decoration-none link-dark">Duyệt giáo án</a></h6>
            </div>
          </div>
    </div>
</div>