<!-- profile trang chủ -->
<div class="row justify-content-center">
    <div class="col-lg-12 ">

      
        <div class="card border-0 rounded-15 shadow-sm rainbow text-white" >
        <div class="row g-0">
            {% if teacher.avatar %}
            <div class="col-lg-3 d-flex align-items-center justify-content-center p-4">
            <img src="{{ teacher.avatar.url }}"  class="img-fluid rounded-circle shadow-sm" alt="Avatar {{ teacher.full_name}}">
            </div>
            {% endif %}
            <div class="col d-flex align-items-center py-2 ">
            <div class="card-body py-0 ">
                <h5 class="card-title " ><a href="{% url 'profile' %}" class="text-decoration-none text-white">{{ teacher.full_name }} </a>  <small> {{ teacher.get_education_level_display }} {{ teacher.main_subject }}</small></h5>
                <div class="card-text m-0 pb-0">
                <ul class="list-unstyled text-white  m-0">
                    {% if teacher.managers.school %}
                    <li>
                        <i class="fas fa-star fa-fw me-2"></i>{{ teacher.managers.school.get_role_display }} <a href="#" class="text-decoration-none text-white"> {{ teacher.managers.school.school.title }}</a>
                    </li>
                    {% endif %}
                    <li>{% if teacher.managers.group%}{{ teacher.managers.group.get_role_display }} <a href="#" class="text-decoration-none text-white">Bộ môn {{ teacher.managers.group.group.title }}</a>{% endif %}</li>
                    {% if teacher.managers.class %}
                    <li> <i class="fas fa-star fa-fw me-2"></i>Chủ nhiệm lớp <a href="#" class="text-decoration-none text-white"> {{ teacher.managers.class }}</a></li>
                    {% endif %}
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>