{% extends 'base_clean.html' %}
{% block content %}
{% with teacher=request.user.teacher %}
{% load lessonmanagement_extras %}
{% load humanize %}

<div class="row justify-content-center ">
  <div class="col-lg-4 border-bottom">
    <h2 class="mt-5 text-center"><i class="fas fa-book me-2"></i>Thêm Giáo Án</h2>
    {% if is_add %}
    <p class="text-center text-muted"><i class="far fa-lightbulb me-2"></i>Giáo án này sẽ được sử dụng vào tuần <span class="fw-bold">{{ week }}</span> của năm học {{ schoolyear }}.
    </p>
    <p class="text-center text-danger">Bạn có 10 phút để chỉnh sửa giáo án mình vừa tải lên. Quá thời gian này hệ thống sẽ khóa tính năng chỉnh sửa giáo án</p>
    {% else %}
    <p class="text-center text-danger"><i class="far fa-lightbulb me-2"></i>Giáo án {{ subjectclassyear.subject }} tuần {{ week }} đã được thêm đủ: {{ lessons_week_count }}/{{subjectclassyear.subject.week_lesson}}. Bạn không thể thêm nữa
    </p>
    {% endif %}
  </div>
</div>
<div class="row pt-5 justify-content-center">
  <div class="col-lg-6">

      <h4 class="mb-4"><i class="fas fa-calendar-week me-3 text-muted"></i>Tuần {{ week }} <small class="text-muted">
        {% with satday=monday|plus_days:5 %}
        {{ monday|date:"SHORT_DATE_FORMAT" }} đến {{ satday|date:"SHORT_DATE_FORMAT" }}
        {% endwith %}
      </small> </h4>

      <div >
        <a href="{% url 'add_lesson_subject' subject%}" class="btn btn-outline-dark  me-2" >Tuần này</a>
        <a href="{% url 'add_lesson_subject_week' subject week|add:-1 %}" class="btn btn-outline-dark  me-2" ><i
          class="fas fa-step-backward me-2"></i>Tuần trước</a>
        <a href="{% url 'add_lesson_subject_week' subject week|add:1 %}"  class=" btn btn-outline-dark">Tuần sau<i
          class="fas fa-step-forward ms-2"></i></a>
      </div>



<hr>
<h5 class="mb-3">Thông tin giáo án</h5>

    <form id='addLesson' method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          {% include 'notification/success.html' %}
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-7  d-flex">
              <div class="me-3">
                <label for="subjectLevel" class="form-label">Môn học</label>
                <input type="hidden" name="subject" value='{{ subject }}'>
                <div id="subjectLevel">
                  <button class="btn btn-success dropdown-toggle " type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">{{ subjectclassyear.subject }}</button>
                  <ul class="dropdown-menu">
                    {% for subjectclassyear in subjectsclassyear %}
                    <li><a class="dropdown-item"
                        href="{% url 'add_lesson_subject_week' subjectclassyear.subject.slug week %}">{{ subjectclassyear.subject }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        <div class="me-3">
          <label for="startLesson" class="form-label">Bài giảng số</label>
          <input type="number" class="form-control" id="startLesson" name="start_lesson"
            onchange="getLessonTitle()" value='{{ new_number_lesson }}' required>
          <div class="invalid-feedback">
            Phải chọn bài giảng số mấy
          </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="titleLesson" class="form-label mt-4">Tên giáo án</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-book me-2"></i></span>
            <input type="text" id="titleLesson" name='title_lesson' class="form-control" aria-label="Username"
              aria-describedby="basic-addon1" required placeholder value="{{ current_title_lesson.title }}">
            <div class="invalid-feedback">
              Yêu cầu điền tên của giáo án
            </div>
          </div>
        </div>
        <script>
          function getLessonTitle() {
            var new_title = {{new_title_lesson|safe}}
          var x = document.getElementById("startLesson").value;
          document.getElementById("titleLesson").value = new_title[x - 1].title;
          }
        </script>
        <div class="col-12">
          <label for="fileLesson" class="form-label mt-4">File giáo án</label>
          <input class="form-control" type="file" id="fileLesson" name="file_lesson" required accept=".pptx, .ppt, .doc, .docx, .pdf" >
          <div class="form-text">File giáo án phải là định dạng pptx để có thể xem trực tuyến</div>
          <div class="invalid-feedback">
            Yêu cầu tải file lên
          </div>
        </div>
        <div class="col-12">
          <label for="descriptionLesson" class="form-label mt-4">Tóm tắt nội dung bài giảng</label>
          <textarea class="form-control" id="descriptionLesson" rows="3" name="description_lesson"></textarea>
          <div class="form-text">Giáo án nên có phần tóm tắt để người quản lý tiện theo dõi</div>
          <hr class="my-4">
        </div>
        <div class="col-12">
          <button type="reset" class="btn btn-secondary mb-4 me-2">Huỷ</button>
          <button type="submit" name="add" class="btn btn-success mb-4 me-2" {%if not is_add%}disabled{%endif%}>Thêm</button>
          <button type="submit" name="continue" class="btn btn-success mb-4" {%if not is_add%}disabled{%endif%}>Thêm và tiếp tục thêm</button>
        </div>
      </div>
    </form>
    <script>
      (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>
  </div>
  <div class="col-lg-4">
    <h5 class="mb-4">Giáo án {{ subjectclassyear.subject }} đã tải lên trong tuần {{ week }}: {{ lessons_week_count }}/{{subjectclassyear.subject.week_lesson}}</h5>
    <div class="list-group">
      {% for lesson in last_lesson %}
      <a href="{%url 'lesson' lesson.id%}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            {{ lesson.title }}
          </div>
          <small class="text-muted"> {{ lesson.upload_time|naturaltime }} /
            {{ lesson.upload_time|date:"SHORT_DATE_FORMAT" }}
          </small>
        </div>
        <span class="badge bg-warning text-dark p-2 ms-2" style="min-width: 60px;">
          Bài {{ lesson.number_lesson }}
        </span>
      </a>
      {% endfor %}
    </div>
  </div>

</div>


<div class="row justify-content-center">
  <div class="col-12">
    <hr>
    {% include 'footer_withsidebar.html' %}
  </div>
</div>
{% endwith %}

{% endblock %}