{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load lessonmanagement_extras %}
{% with teacher=request.user.teacher %}
{% if lesson_list %}
<div class="row justify-content-center">
    <div class="col-xl-11">
        <div class="d-flex justify-content-between align-items-center my-4">
            <h4 class="m-0"><i class="fas fa-pen-alt me-2"></i>Duyệt giáo án</h4>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="dropdownSubject" data-bs-toggle="dropdown">
                    {{ subject }}
                </button>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownSubject">
                    <li><a class="dropdown-item" href="{%url 'check_lessons_subject' year 'all' %}">Tất cả</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% for subject in subjects %}
                    <li><a class="dropdown-item"
                            href="{% url 'check_lessons_subject' year subject.subject|slugify %}">{{subject.subject}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending"
                    type="button" role="tab" aria-controls="nav-pending" aria-selected="true">Chờ duyệt</button>
                <button class="nav-link" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button"
                    role="tab" aria-controls="nav-all" aria-selected="false">Tất cả</button>

                    <button class="nav-link" id="nav-acept-tab" data-bs-toggle="tab" data-bs-target="#nav-acept" type="button"
                    role="tab" aria-controls="nav-acept" aria-selected="false">Đã duyệt</button>
                    
                    <button class="nav-link" id="nav-deny-tab" data-bs-toggle="tab" data-bs-target="#nav-deny" type="button"
                    role="tab" aria-controls="nav-deny" aria-selected="false">Từ chối</button>
                    
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active  border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="nav-pending" role="tabpanel">
                {% include "table/table_check_lessons_pending.html" %}
            </div>
            
            <div class="tab-pane fade  border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="nav-all" role="tabpanel">
                {% include "table/table_check_lessons_all.html" %}
            </div>
            <div class="tab-pane fade border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="nav-acept" role="tabpanel">
                {% include "table/table_check_lessons_acept.html" %}
            </div>
            <div class="tab-pane fade border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="nav-deny" role="tabpanel">
                {% include "table/table_check_lessons_deny.html" %}
            </div>

        </div>
    </div>
</div>
{% else %}
{% include 'lesson/empty_lesson.html' %}
{% endif %}
{% endwith %}
{% endblock %}