{% load lessonmanagement_extras %}
{% load static %}
<div class="text-center w-100 bg-white border rounded-15 shadow-sm pb-5 px-5">
    <img src="{% static 'imgs/empty.jpeg' %}" width="300px" alt="">
  <h4 class="text-danger">Chưa có giáo án nào được tải lên <small class="text-muted">Hãy thêm mới giáo án của bạn ngay bây giờ nhé!</small></h4>

  <a href="
  {% if subject and level %}
  {% url 'add_lesson_subject_level' subject level|classlevel %}
  {% else %}
  {% url 'addlesson' %}
  {% endif %}
  " class="btn btn-success mt-3"> <i class="fas fa-book me-2"></i>Thêm Giáo án</a> <hr> hoặc <a href="#" class="text-decoration-none">Xem hướng dẫn thêm giáo án tại đây</a>
  </div>