{% extends 'base_withsidebar.html' %}
{% load humanize %}
{% load static %}
{% load lessonmanagement_extras %}
{% block content %}
{% include 'breadcrumb/breadcrumb_lesson.html' %}


{% include 'notification/success.html' %}
      
<div class="bg-white rounded-15 shadow-sm p-4 border">
    <h3 class="mb-3">{{ lesson.title }} <small class="text-muted">{{ lesson.subject.title }} {{ lesson.level }}  / Tiết {{ lesson.start_number_lesson }} - {{ lesson.start_number_lesson|add:lesson.cout_number_lesson }}</small></h3>
    <div class="d-flex align-items-center mb-3">
        <img src="
        {% if request.user.teacher.avatar %}
        {{ request.user.teacher.avatar.url }}
        {% else %}
        {% static 'imgs/no-avatar.png' %}
        {% endif %}
        " alt="" width="20px" class="rounded-circle me-2">
        <div>
            <small class="m-0 fw-bolder">{{ request.user.teacher.full_name }}</small>
            <small class="text-muted m-0"> / {{ lesson.upload_time|naturaltime }} / {{ lesson.upload_time|date:"SHORT_DATE_FORMAT"}}</small>
        </div>
    </div>
    {% if lesson.description %}
        <hr class="my-4">
        <h6><i class="fas fa-book-open fa-fw me-2 text-muted"></i>Mô tả giáo án</h6>
        <p class="text-muted">
        {{ lesson.description }}
        </p>
    {% endif %}
    <a href="#" class="btn btn-sm btn-outline-success me-2"><i class="far fa-eye me-2"></i>Xem</a>
    <a href="{{ lesson.lesson_path.url }}" class="btn btn-sm btn-outline-success"><i class="fas fa-download me-2"></i>Tải về</a>
    <hr class="my-4">
    <h6><i class="fas fa-toggle-on text-muted fa-fw me-2"></i>Trạng thái giáo án</h6>
    {% if lesson.status == 'pending' %}
        <span class="badge bg-warning text-dark rounded-pill">{{ lesson.get_status_display }}</span>
        {% if lesson.edit_time %}
        <p class="mt-2">
            <i class="fas fa-sync-alt me-2"></i>Đã sửa: {{ lesson.edit_time|naturaltime }}
    </p>
        {% endif %}
    {% elif lesson.status == 'acept' %}
        <span class="badge bg-success text-white rounded-pill">{{ lesson.get_status_display }}</span> bởi 
        <a href="#" class="text-decoration-none">{{ lesson.checker }} </a> / {{ lesson.check_date|naturaltime }}
    {% else %}
        <span class="badge bg-danger text-white rounded-pill">{{ lesson.get_status_display }}</span> bởi 
        <a href="#" class="text-decoration-none">{{ lesson.checker }} </a> / {{ lesson.check_date|naturaltime }}
        <a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-lg btn-danger ms-2"><i class="fas fa-wrench me-2"></i>Sửa giáo án</a>

        {% if lesson.note_checker %}
        <p class="mt-3"><span class="fw-bold">Ghi chú:</span> {{ lesson.note_checker }}</p>
        {% endif %}

    {% endif %}

        <hr class="my-4">
        <h6><i class="far fa-calendar-check me-2 text-muted fa-fw"></i>Lịch báo giảng</h6>
    {% if not lesson.status == 'acept' %}
        <h5 class="text-danger mt-3">Giáo án không thể thêm vào lịch báo giảng khi chưa được duyệt</h5>
    {% else %}
        {% if not lesson.classyear_list %}
            <h5 class="text-danger mt-3">Giáo án này chưa được lên lịch báo giảng</h5>
            <a href="{% url 'add_lesson_schedule' lesson.id %}" class="btn btn-danger"><i class="far fa-calendar-check me-2"></i>Thêm lịch báo giảng</a>
        {% else %}
            {% for i in lesson.classyear_list %}
                <h6 class="bg-info mb-0 p-2 mt-4">
                {{ lesson.subject.title }} {{ i.classyear.startyear|classlevel }}{{ i.classyear.title }} <small>
                <a href="#" class="ms-2 text-decoration-none text-dark"><i class="far fa-edit me-2"></i>Sửa lịch báo giảng</a>
                </small> 
                </h6>
                {% include 'schedule/lesson_schedule.html' %}
            {% endfor %}
            <br>
            <a href="{% url 'add_lesson_schedule' lesson.id %}" class="btn btn-danger mb-3"><i class="far fa-calendar-check me-2"></i>Thêm lịch báo giảng</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}