{% extends 'base_withsidebar.html' %}
{% load humanize %}
{% load static %}
{% load lessonmanagement_extras %}
{% block content %}
{% include 'notification/success.html' %}


<div class="bg-white rounded-15 shadow-sm p-4 border">
    <h3 class="mb-4">Năm học {{ lesson.schoolyear}} / {{ lesson.subject.subject.title }} {{ lesson.subject.level }} / Bài
        {{ lesson.number_lesson }}</h3>
    <h4 class="mb-3"><i class="fas fa-book me-2 text-muted fa-fw"></i>{{ lesson.title }}</h4>
    <hr>
    <div class="d-flex align-items-center mb-3">
        <img src="
        {% if request.user.teacher.avatar %}
        {{ request.user.teacher.avatar.url }}
        {% else %}
        {% static 'imgs/no-avatar.png' %}
        {% endif %}
        " alt="" width="20px" class="rounded-circle me-2">
        <div>
            <small class="m-0 fw-bolder">{{ request.user.teacher.full_name }}</small>
            <small class="text-muted m-0"> / {{ lesson.upload_time|naturaltime }} / {{lesson.upload_time|date:"SHORT_DATE_FORMAT"}}</small>
        </div>
    </div>
    {% if lesson.description %}
    <hr class="my-4">
    <h6><i class="fas fa-book-open fa-fw me-2 text-muted"></i>Mô tả giáo án</h6>
    <p class="text-muted">
        {{ lesson.description }}
    </p>
    {% endif %}
    <!-- <a href="https://view.officeapps.live.com/op/embed.aspx?src={{ request.META.HTTP_HOST }}{{ lesson.lesson_path.url }}" class="btn btn-sm btn-outline-success me-2"><i class="fas fa-expand-arrows-alt me-2"></i>Xem toàn màn hình</a> -->
    <a href="{{ lesson.lesson_path.url }}" class="btn btn-sm btn-outline-success me-2" download><i
            class="fas fa-download me-2"></i>Tải về</a>
    <a href="{% url 'add_lesson_schedule' lesson.id %}" class="btn btn-sm btn-success mt-3 mt-lg-0"><i
      class="far fa-calendar-check me-2"></i>Thêm giáo án vào lịch báo giảng</a>

    <a href="#" class="btn btn-danger btn-sm me-2"><i class="fas fa-trash-alt me-2"></i>Xóa giáo án</a>

              <p class="text-muted mt-3"><i class="far fa-lightbulb me-2"></i>Tải file về và xem trên máy tính bằng PowerPoint để xem chính xác định dạng nhất.
              </p>

    <hr class="my-4">
    <h6><i class="fas fa-toggle-on text-muted fa-fw me-2"></i>Trạng thái giáo án</h6>
    {% if lesson.status == 'pending' %}
    <span class="badge bg-warning text-dark rounded-pill">{{ lesson.get_status_display }}</span>
    {% if lesson.edit_time %}
    <p class="mt-2">
        <i class="fas fa-sync-alt me-2"></i>Đã sửa: {{ lesson.edit_time|naturaltime }}
    </p>
    {% endif %}
    {% elif lesson.status == 'acept' %}
    <span class="badge bg-success text-white rounded-pill">{{ lesson.get_status_display }}</span> bởi
    <a href="#" class="text-decoration-none">{{ lesson.checker }} </a> / {{ lesson.check_date|naturaltime }}
    {% else %}
    <span class="badge bg-danger text-white rounded-pill">{{ lesson.get_status_display }}</span> bởi
    <a href="#" class="text-decoration-none">{{ lesson.checker }} </a> / {{ lesson.check_date|naturaltime }}
  
    {% endif %}

    {% if lesson.is_edit %}
    <a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-warning ms-2"><i class="fas fa-wrench me-2"></i>Sửa
      giáo án</a>
  
    {% endif %}

    {% if lesson.note_checker %}
    <p class="mt-3"><span class="fw-bold">Ghi chú:</span> {{ lesson.note_checker }}</p>
    {% endif %}

    <hr class="my-4">
    
    <h6><i class="far fa-calendar-check me-2 text-muted fa-fw"></i>Lịch báo giảng</h6>
    {% if not lesson.classyear_list %}
    <h5 class="text-danger mt-3">Giáo án này chưa được lên lịch báo giảng</h5>
    {% else %}

    <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Lớp</th>
            <th scope="col">Tiết</th>
            <th scope="col">Buổi</th>
            <th scope="col">Ngày</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
            {%for i in lesson.classyear_list%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.classyear.startyear.start_date.year|classlevel}}{{i.classyear.title}}</td>
            <td>{{i.order_schedule}}</td>
            <td>{{i.get_session_display}}</td>
            <td>{{i.teach_date_schedule|date:'D'}}, {{i.teach_date_schedule|date:'SHORT_DATE_FORMAT'}}</td>
            <td>
                <form method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="schedule_id" value="{{i.id}}">

                <button class="btn btn-sm btn-outline-danger" type="submit" name="delete"><i class="fas fa-trash-alt me-2"></i>Xóa</button>

                </form>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

   
    {% endif %}



    
</div>

<div class="row">
  <div class="col-12">

    <div class="table-responsive mt-4" >
      <table class="table">

      <div id="openLesson"></div>


      </table>
    
    </div>
    

  </div>
</div>

   


{% include 'lesson/open_lesson_head.html' %}

      



    <script>
        $("#openLesson").pptxToHtml({
     pptxFileUrl: "{{lesson.lesson_path.url}}"

});
    </script>


{% endblock %}