{% extends 'base_withsidebar.html' %}
{% block content %}
{% load static %}
{% load lessonmanagement_extras %}
{% with teacher=request.user.teacher %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h4 class="m-0">Giáo án{%if current_year|length == 0 %} năm {{current_year}}{%endif%}</h4>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="schoolyear" data-bs-toggle="dropdown"
      aria-expanded="false">
      {%if current_year|length == 0 %}{{current_year}}{%else%}Tất cả năm học{%endif%}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="schoolyear">
      <li><a class="dropdown-item" href="{% url 'lessons' %}">Tất cả</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      {%for i in schoolyear%}
      <li><a class="dropdown-item" href="{%url 'lessons_schoolyear' i.start_date.year %}">{{i}}</a></li>
      {%endfor%}
    </ul>
  </div>
</div>
<div class="border py-4 px-3 rounded-15 shadow-sm bg-white">
  {% include "table/table_all.html" %}
</div>

{% endwith %}
{% endblock %}