{% load humanize %}
{% if lesson_list %}
<div class="table-responsive">
    <table id="table_lessons" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Tuần</th>
                <th>Môn học</th>
                <th>Bài</th>
                <th>Tên giáo án</th>
                <th>Tải lên</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lesson_list %}
            <tr>
                <td>
                    <span class="badge  bg-primary" style="width: 40px;">{{ lesson.week}}
                    </span>
                </td>
                <td>
                    <span class="badge  bg-info text-dark me-1" style="min-width: 90px;"> {{lesson.subject}} </span>
                </td>
                <td>
                    <span class="fw-bold"> Bài {{ lesson.number_lesson}}</span>
                </td>
                <td>
                    <a href="{% url 'lesson' lesson.id %}" class="text-decoration-none link-dark">
                        {{ lesson.title }}
                    </a>
                </td>
                <td class="text-muted">{{ lesson.upload_time|naturaltime }} / {{lesson.upload_time|date:"SHORT_DATE_FORMAT"}}</td>

                <td> {% if lesson.status == "pending" %}
                    <span class="badge bg-warning text-dark rounded-pill" style="width: 100px;"><i
                            class="far fa-clock me-1"></i>{{lesson.get_status_display}}</span>
                    {% elif lesson.status == "acept" %}
                    <span class="badge bg-success  rounded-pill" style="width: 100px;"><i
                            class="fas fa-check me-1"></i>{{lesson.get_status_display}}</span>
                    {% elif lesson.status == "deny" %}
                    <span class="badge bg-danger  rounded-pill" style="width: 100px;"><i
                            class="fas fa-times me-1"></i>{{lesson.get_status_display}}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#table_lessons').DataTable(
            {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel'
                ],
                "order": [[0, "desc"], [1, "desc"], [2, "desc"]],
                "pageLength": 25,
            }
        );
    });
</script>
{% else %}
<h4 class="text-danger">Chưa có giáo án nào được tải lên</h4>

{% endif %}