{% extends 'base_withsidebar.html' %}
{% block content %}
{% load static %}
{% load humanize%}
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center mb-4" >
            <h3 class="m-0"><i class="fas fa-calendar-week me-2"></i>Tải lên tuần {{week}}</h3>
            <div class="d-flex">
<div class="btn-group">
  <a href="{% url 'now_week_lessons' %}" class="btn btn-outline-primary {%if request.path == '/lessons/week/'%}active{%endif%}" >Tuần này</a>
  <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    {% for week in weeks %}
    <li><a class="dropdown-item" href="{% url 'week_lessons' week.week %}">Tuần {{week.week}}</a></li>
    {% endfor %}
  </ul>
</div>
              <div class="btn-group ms-2" role="group" aria-label="Basic example">
                <a href="{% url 'week_lessons' week|add:-1 %}" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i></a>
                <a href="{% url 'week_lessons' week|add:1 %}" class="btn btn-outline-primary"><i class="fas fa-chevron-right"></i> </a>
              </div>
            </div>

            </div>


            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab"
                  aria-controls="home" aria-selected="true">Toàn bộ giáo án</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab"
                  aria-controls="profile" aria-selected="false">Chờ duyệt</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#acept" type="button" role="tab"
                  aria-controls="contact" aria-selected="false">Đã duyệt</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#deny" type="button" role="tab"
                  aria-controls="contact" aria-selected="false">Từ chối</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="all"
                role="tabpanel" aria-labelledby="home-tab">
                {% include "table/table.html" %}
              </div>
              <div class="tab-pane fade active  border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm " id="pending"
                role="tabpanel" aria-labelledby="profile-tab"> {% include "table/table_pending.html" %}</div>
              <div class="tab-pane fade active py-4 border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="acept"
                role="tabpanel" aria-labelledby="contact-tab"> {% include "table/table_acept.html" %}</div>
              <div class="tab-pane fade active py-4 border rounded-bottom border-top-0 px-3 bg-white py-4 shadow-sm" id="deny"
                role="tabpanel" aria-labelledby="contact-tab"> {% include "table/table_deny.html" %}</div>
            </div>

            
    </div>
</div>
        
             
  {% endblock %}