{% extends 'base_withsidebar.html' %}
{% block content %}
{% load static %}
{% load humanize%}
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center mb-4" >
            <h3 class="m-0"><i class="fas fa-calendar-week me-2"></i>Tải lên tuần {{week}}</h3>
            <div class="d-flex">
<div class="btn-group">
  <a href="{% url 'now_week_lessons' %}" class="btn btn-outline-primary {%if request.path == '/lessons/week/'%}active{%endif%}" >Tuần này</a>
  <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    {% for week in weeks %}
    <li><a class="dropdown-item" href="{% url 'week_lessons' week.week %}">Tuần {{week.week}}</a></li>
    {% endfor %}
  </ul>
</div>
              <div class="btn-group ms-2" role="group" aria-label="Basic example">
                <a href="{% url 'week_lessons' week|add:-1 %}" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i></a>
                <a href="{% url 'week_lessons' week|add:1 %}" class="btn btn-outline-primary"><i class="fas fa-chevron-right"></i> </a>
              </div>
            </div>

            </div>
        <div class="border py-4 px-3 rounded-15 shadow-sm bg-white">
            {% include "table/table_all.html"%}
        </div>
    </div>
</div>
        
             
  {% endblock %}