{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load lessonmanagement_extras %}
{% load humanize %}
{% load lessonmanagement_extras %}

<div class="row justify-content-center mt-4">
    <div class="col-lg-11">
        <h4><i class="far fa-chart-bar fa-fw me-2"></i>Thống kê giáo án</h4>
        <hr>
        <h5>Tuần này</h5>
        <hr>
        <div class="row">
            <div class="col">
                {% widthratio  complete_teacher_lesson|length teachers|length 100  as width %}
                <div class="d-flex justify-content-between">
                    <h6>Giáo viên hoàn thiện tuần này <small class="text-muted">{{complete_teacher_lesson|length}}/{{teachers|length}}</small></h6>
                    {{ width }}%

                </div>

                <div class="progress mt-2" style="height: 4px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
               

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Hoàn thành</h5>
                        <ol class="list-group list-group-numbered">
                            {% for teacher in complete_teacher_lesson %}
                            <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="{{ teacher.id }}" class="stretched-link">
                                    {{ teacher }}
                                </a>
                                
                                </div>
                                {% for j in teacher.subject_classyear_list %}
                                {{ j.subject__subject__title }} {{ j.classyear__startyear__start_date__year|classlevel }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                              </div>
                              <span class="badge bg-primary rounded-pill">{{ teacher.week_lesson }} / {{ teacher.target_lesson_week }} </span>
                            </li>
                            {% endfor %}
                          </ol>
                    </div>
                    <div class="col-lg-6">
                        <h5>Chưa hoàn thành</h5>
                        <ol class="list-group list-group-numbered">
                            {% for teacher in incomplete_teacher_lesson %}
                            <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="{{ teacher.id }}" class="stretched-link">
                                    {{ teacher }}
                                </a>
                                </div>
                                sdfsadfd
                              </div>
                              <span class="badge bg-primary rounded-pill">{{ teacher.week_lesson }} / {{ teacher.target_lesson_week }} </span>
                            </li>
                            {% endfor %}
                          </ol>
                    </div>
                </div>
            </div>
  
        </div>

    </div>
</div>

{% endblock %}