{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load lessonmanagement_extras %}
{% load humanize %}
{% load lessonmanagement_extras %}

<h1> trang thống kê </h1>
<hr>
<h3>Thống kê giáo viên</h3>
<hr>
<ul>
    {% for teacher in teachers %}
    <li><a href="{% url 'schedule' teacher.user.username  request.user.teacher.current_schoolyear.start_date.year 0 %}">{{ teacher }}</a></li>
    {%endfor%}

</ul>
<hr>
<h6>giáo án theo tuần</h6>
<ul>
    {% for i in subject_classyear_teacher_week_count %}
    <li>{{ i }}, {{ i.subject__lesson__count}}</li>
    {%endfor%}

</ul>

<hr>
<h6>giaos án theo tuần query từ subjectclassyear</h6>
<ul>
    {% for lesson in lessons_week_subjectclassyear %}
    <li>{{ lesson }}</li>
    {% endfor %}
</ul>

{% endblock %}