<table id="exampletable4" class="table table-hover " style="width:100%">
    <thead>
        <tr>
            <th>Tiết</th>
            <th>Tên giáo án</th>
            <th>Trạng thái</th>
            <th>Người từ chối</th>
            <th>Thời gian từ chối</th>
        </tr>
    </thead>
    <tbody>
        {% for i in lesson_list %}
        {% if i.status == 'deny' %}
        <tr>
            <td>
                <span class="badge rounded-pill bg-secondary"  style="width: 40px;">{{i.number_lesson}}</span>
            </td>
            <td><a href="#" class="text-decoration-none">{{ i.title }} </a></td>
            <td> <span class="badge bg-danger  rounded-pill"><i class="fas fa-times me-1"></i>{{i.get_status_display}}</span> </td>
            <td> <a href="#" class="text-decoration-none">{{ i.checker.full_name }}</a> </td>
            <td class="text-muted"> <span class="text-dark fw-bold"> {{ i.check_date|timesince }} trước</span> {{i.check_date|date}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#exampletable4').DataTable();
    });
</script>