



<table id="exampletable2" class="table table-hover  " style="width:100%">
    <thead >
        <tr>
            <th>Tiết</th>
            <th>Tên giáo án</th>
            
            <th>Thời gian tải lên</th>
           
        </tr>
    </thead>
    <tbody>
        {% for i in lesson_list %}
        {% if i.status == 'pending' %}
        <tr>
            <td> 
                <span class="badge rounded-pill bg-secondary" style="width: 60px;">{{ i.start_number_lesson }}{% if i.cout_number_lesson > 1 %}-{{ i.start_number_lesson|add:i.cout_number_lesson }} {% endif %}</span>
                
            </td>

            <td><a href="#" class="text-decoration-none">{{ i.title }}  </a></td>

            <td class="text-muted" > <span class="text-dark fw-bold">{{ i.upload_time|timesince }} trước </span> {{ i.upload_time }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#exampletable2').DataTable();
} );
</script>