<table id="exampletable" class="table table-hover  " style="width:100%">
    <thead >
        <tr>
            <th>Môn học</th>
            <th>Tiết</th>
            <th>Tên giáo án</th>
            
            <th>Ngày tải lên</th>
            <th>Trạng thái</th>
           
        </tr>
    </thead>
    <tbody>
        {% for lesson in request.user.teacher.lesson_list %}
        <tr>
            <td> <a href="#" class="text-decoration-none"> {{ lesson.subject }} </a>{{ lesson.level }}

            </td>
            <td> 
                <span class="badge rounded-pill bg-secondary" style="width: 60px;">{{ lesson.start_number_lesson}}{% if lesson.cout_number_lesson > 1 %}-{{ lesson.start_number_lesson|add:lesson.cout_number_lesson }} {% endif %}</span>
                
            </td>

            <td><a href="{% url 'lesson' lesson.id %}" class="text-decoration-none">{{ lesson.title }}  </a></td>

            <td class="text-muted" >{{ lesson.upload_time|date:"SHORT_DATE_FORMAT" }}</td>
            <td>                    {% if lesson.status == "pending" %}
                <span class="badge bg-warning text-dark rounded-pill" style="width: 100px;"><i class="far fa-clock me-1"></i>{{ lesson.get_status_display}}</span>
                {% elif lesson.status == "acept" %}
                <span class="badge bg-success  rounded-pill"  style="width: 100px;"><i class="fas fa-check me-1"></i>{{ lesson.get_status_display}}</span> 
                 {% elif lesson.status == "deny" %}
                 <span class="badge bg-danger  rounded-pill"  style="width: 100px;"><i class="fas fa-times me-1"></i>{{ lesson.get_status_display}}</span> 
                {% endif %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#exampletable').DataTable();
} );
</script>