{% extends 'base_withsidebar.html' %}
{% block content %}
{% with teacher=request.user.teacher %}
{% load lessonmanagement_extras %}
<div class="bg-white border shadow-sm p-3 rounded-pill mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 ">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-decoration-none"><i class="fas fa-home me-2"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alllessons' %}" class="text-decoration-none">Giáo án</a></li>
        <li class="breadcrumb-item"><a href="{% url 'addlesson' %}" class="text-decoration-none">Thêm Giáo án</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{ subject_level_title }}</li>
      </ol>
    </nav>
</div>
  <h5 class="mb-4"><i class="fas fa-plus me-2"></i>Thêm Giáo Án {{ subject_level_title }} <small class="text-muted">
    - {{classyear_title_list}}
  </small></h5>
    <form  class="bg-white border rounded-15 shadow-sm py-4 px-4">

      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{subject_level_title}}</button>
        <ul class="dropdown-menu">
          {% for i in teacher.subject_classyear_list %}
          <li><a class="dropdown-item" href="{% url 'add_lesson_subject_level' i.subject__title|slugify i.classyear__startyear|classlevel %}">{{ i.subject__title }} {{ i.classyear__startyear|classlevel }}</a></li>
          {% endfor %}
        </ul>
        <span class="input-group-text ">Tiết số</span>
        <input type="number" class="form-control" 
        value = {{ new_number_lesson }} required >
        <span class="input-group-text" >Số tiết</span>
        <select class="form-select"  >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-book me-2"></i>Tên giáo án</span>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
    </div>
      <div class="mb-3">
      <input class="form-control" type="file" id="formFile" required>
      <div class="form-text">File giáo án tải lên nên là định dạng pptx.</div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Tóm tắt nội dung bài giảng</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
<button type="submit" class="btn btn-outline-success mt-3 me-3">Thêm giáo án</button>
<button type="submit" class="btn btn-success mt-3 me-3">Thêm giáo án và lịch báo giảng</button>

    </form>
  {% endwith %}
{% endblock %}