


            <div class="row my-5 justify-content-between text-muted">
                <hr class="mb-4">
                
                <div class="col-4">
                  <small>
                  <a href="#" class="text-decoration-none ">
  
  
                 Hệ thống Quản Lý Trường Học Kim Nhan</a><span class="text-muted">
                  là dự án được tạo ra và duy trì bởi <a href="#" class="text-decoration-none">Nguyễn Hữu Hiếu</a> </span> 
                </small>
                </div>
                <div class="col-2 text-muted text-center">
                  <small>
                  <a href="#" class="text-decoration-none text-secondary">About</a> </small> </div>
                <div class="col-2 text-muted text-center">
                  <small>
                  <a href="#" class="text-decoration-none text-secondary">Pricing</a> </small> </div>
                <div class="col-2 text-muted text-center">
                  <small>
                  <a href="#" class="text-decoration-none text-secondary">Contact</a></small>  </div>
                <div class="col-2 text-muted text-center">
                  <small>
                  <a href="#" class="text-decoration-none text-secondary">Docs</a> </small> </div>
              </div>