
          {% extends 'base_withsidebar.html' %}
          {% load static %}
          {% block content %}

          {% include 'breadcrumb.html' %}
              <h5 class="mb-4">Giáo Án vừa tải lên</h5>
                {% for i in request.user.teacher.latest_lesson %}
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <h6 class="card-title">
                      <a href="#" class="text-reset text-decoration-none">  {{ i.title }}</a>
                    </h6>
                    <span class="text-dark fw-bold">
                    <a href="#" class="text-decoration-none"> {{ i.subject.title }}</a>{% if i.display_classyear %}({% for j in i.display_classyear %}{{j}}{%if forloop.last %}{% else %},{% endif %}{% endfor %}) {% endif %} / Tiết {{ i.start_number_lesson}} {% if i.cout_number_lesson > 1 %} - {{ i.start_number_lesson|add:i.cout_number_lesson }} {% endif %}
                  </span>
                  <span class="text-muted">    bởi
                    <a href="#" class="text-decoration-none"> {{ i.teacher.full_name}}</a> vào lúc {{ i.upload_time }}</span>
                    <hr class="my-2">
                    {% if i.status == "pending" %}
                    <span class="badge bg-warning text-dark rounded-pill" style="width: 105px;"><i class="far fa-clock me-1"></i>Chờ duyệt</span>
                    {% elif i.status == "acept" %}
                    <span class="badge bg-success  rounded-pill" style="width: 105px;"><i class="fas fa-check me-1"></i>Đã duyệt</span> <small class="text-muted">bởi<a href="#" class="text-decoration-none"> {{ i.checker.full_name }}</a> 
                     vào lúc {{ i.check_date }}</small>  
                     {% elif i.status == "deny" %}
                     <span class="badge bg-danger  rounded-pill" style="width: 105px;"><i class="fas fa-times me-1"></i>Bị từ chối</span> <small class="text-muted">bởi<a href="#" class="text-decoration-none"> {{ i.checker.full_name }}</a> 
                      vào lúc {{ i.check_date }}</small> 
                    {% endif %} 
                  </div>
                </div>
                {% endfor %}
                <a href="{% url 'alllessons' %}" class="btn btn-primary"> Xem tất cả giáo án <i class="fas fa-arrow-right ms-3"></i> </a>
          <hr class="my-5"> 
          <div class="row">
            <h5 class="mb-4">Thống kê Giáo Án</h5>
            <div class="col">
              <div class="card text-white bg-primary mb-3 text-center">
              <div class="card-body">
                <h1 class="card-title">{{ request.user.teacher.total_lesson }}</h1>
                <p class="card-text" >Tổng số giáo án đã tải lên</p>
              </div>
            </div>
          </div>
            <div class="col">
              <div class="card text-white bg-success mb-3  text-center">
                <div class="card-body">
                 <h1 class="card-title">{{ request.user.teacher.total_lesson_year }}</h1>
                  <p class="card-text" >Giáo án đã tải lên năm 2020</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-danger mb-3  text-center">
                <div class="card-body">
                 <h1 class="card-title">{{ request.user.teacher.total_lesson_month }}</h1>
                  <p class="card-text" >Giáo án đã tải lên trong tháng 4</p>
                </div>
              </div>
            </div>
          </div>
          {% for i in request.user.teacher.classyear_list %}

          <h6 class="mt-3"> <a href="#" class="text-decoration-none">{{i.subject}} {{ i.classyear }}</a>  <small class="text-muted">Tiết {{ i.current_lesson }}/{{ i.total_lesson }}</small> </h6>

          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: {% widthratio i.current_lesson i.total_lesson 100 %}%;" aria-valuenow="{% widthratio i.current_lesson i.total_lesson 100 %}" aria-valuemin="0" aria-valuemax="100">{% widthratio i.current_lesson i.total_lesson 100 %}%</div>
          </div>

          {% endfor %}
          
            

          
      
         
           {% endblock %}