{% extends 'base_withsidebar.html' %}

{% block content %}

<div class="bg-white border shadow-sm p-3 rounded-pill mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 ">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-decoration-none"><i class="fas fa-home me-2"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"> <a href="{% url 'alllessons' %}" class="text-decoration-none">Giáo án</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thêm Giáo án</li>
      </ol>
    </nav>
  </div>

  <h5><i class="fas fa-book  me-2 mb-3"></i>Thêm Mới Giáo Án</h5>

  <form class="bg-white border rounded-15 shadow p-4">


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Môn học</label>
      <select class="form-select"  id="exampleInputEmail1" name="hih">
        <option selected>Chọn môn học</option>
        {% for i in request.user.teacher.list_subject %}
        <option value="{{ i.subject__id }} "> {{ i.subject__title }}</option>
        {% endfor %}
      </select>
    </div>



    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tiêu đề của giáo án</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="tst" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  

  

{% endblock %}