{% load lessonmanagement_extras %}
{% with teacher=request.user.teacher %}
<div class="position-sticky top-0 start-0 pt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="m-0">Giáo án</h4>
    <div class="btn-group">
      <a href="{% url 'addlesson' %}" class="btn btn-sm btn-success"><i class="fas fa-book me-2"></i>Thêm</a>
      <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end ">
        <li><h6 class="dropdown-header">Thêm giáo án vào môn <i class="fas fa-angle-down ms-1"></i></h6></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        {% for i in teacher.subjectclassyear %}
        <li><a class="dropdown-item" href="{% url 'add_lesson_subject' i.subject.slug %}">{{ i.subject}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
   <div class="list-group">
    <hr>
    <!-- Giáo án năm học này -->
    {% now "m" as current_month %}
    {% now "Y" as current_year %}
    <span class="fw-bold mb-3">Năm {{teacher.current_schoolyear}} </span>
    {% for i in teacher.subjectclassyear %}
    <a href="{% url 'lessons_subject' i.subject.slug %}"
      class="list-group-item list-group-item-action border-0 text-primary ps-0 {%if i.subject__subject__title|slugify in request.path and level_sidebar|safe in request.path %} fw-bolder {%endif%}"><i
        class="fas fa-book fa-fw me-2 text-muted"></i>{{ i.subject }}  </a>
    {% endfor %}
   </div>
   <hr>
    <a href="{%url 'now_week_lessons' %}" class="btn btn-outline-success me-2 mb-3 {%if 'lessons/week' in request.path%}active{%endif%} "><i class="fas fa-calendar-week me-2 fa-fw"></i>Tuần</a>
    <a href="{% url 'lessons' %}" class="btn btn-outline-success mb-3 {%if request.path == '/lessons/'%} active {%endif%}"><i class="fas fa-archive me-2 fa-fw"></i>Thư viện giáo án</a>
      <h6 class="fw-bold mt-4"><i class="far fa-lightbulb me-2"></i>Bạn muốn xem các giáo án cũ hơn?</h6>
   <p class="text-muted pe-3">Hệ thống lưu trữ toàn bộ các giáo án bạn đã tải lên. Đến thư viện giáo án và tìm lại.</p>
</div>
{% endwith %}