<div class="position-sticky top-0 start-0 pt-4">

            
    <div class="d-flex justify-content-between mb-3 align-items-center">
      <span class="fw-bold">Giáo án</span>
      <button type="button" class="btn btn-success btn-sm  "><i class="fas fa-book me-2"></i>Thêm</button>

      </div>

      <input class="form-control mb-3  form-control-sm" list="datalistOptions" id="exampleDataList" placeholder="Tìm giáo án...">
      <datalist id="datalistOptions">

        <option value="San Francisco">
        <option value="New York">
        <option value="Seattle">
        <option value="Los Angeles">
        <option value="Chicago">
      </datalist>
     

      

      <div class="list-group list-group-flush ">

        <a href="{% url 'lessondashboard' %}" class="list-group-item list-group-item-action  text-primary px-0 " aria-current="true">
          Dashboard
         

        </a>

        <a href="{% url 'lessons' %}" class="list-group-item list-group-item-action border-0  text-primary px-0 " aria-current="true">
          Toàn bộ giáo án
         

        </a>

    
        {% for i in  request.user.teacher.list_subject_classyear %}
        <a href="#" class="list-group-item list-group-item-action border-0  text-primary px-0" aria-current="true">
          <i class="fas fa-book me-2 text-muted"></i>  {{ i.0 }} 


          {{ i.1 }}

          
         

        </a>
     
        {% endfor %}
        
        
      </div>
      <hr>


      
    </div>
