



<table id="exampletable2" class="table table-hover  " style="width:100%">
    <thead >
        <tr>
            <th>Tiết</th>
            <th>Tên giáo án</th>
            
            <th>Thời gian tải lên</th>
           
        </tr>
    </thead>
    <tbody>
        {% for lesson in lesson_pending %}
        <tr>
            <td> 
                <span class="badge rounded-pill bg-secondary" style="width: 60px;">{{ lesson.start_number_lesson}}{% if lesson.cout_number_lesson > 1 %}-{{ lesson.start_number_lesson|add:lesson.cout_number_lesson }} {% endif %}</span>
                
            </td>

            <td><a href="#" class="text-decoration-none">{{ lesson.title }}  </a></td>

            <td class="text-muted" > <span class="text-dark fw-bold">{{ lesson.upload_time|timesince }} trước </span> {{ lesson.upload_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#exampletable2').DataTable();
} );
</script>