



<table id="exampletable" class="table table-hover " style="width:100%">
    <thead >
        <tr>
            <th>Tên giáo án</th>
            <th>Tiết dạy</th>
            <th>Ngày tải lên</th>
            <th>Trạng thái</th>
           
        </tr>
    </thead>
    <tbody>
        {% for lesson in lesson_list %}
        <tr>
            <td><a href="#" class="text-decoration-none">{{ lesson.title }}  </a></td>
            <td>{{ lesson.start_number_lesson}}{% if lesson.cout_number_lesson > 1 %} - {{ lesson.start_number_lesson|add:lesson.cout_number_lesson }} {% endif %}</td>

            <td> <span class="text-muted">{{ lesson.upload_time|date }}</span> </td>
            <td>                    {% if lesson.status == "pending" %}
                <span class="badge bg-warning text-dark badge-pill"><i class="far fa-clock me-1"></i>{{ lesson.get_status_display}}</span>
                {% elif lesson.status == "acept" %}
                <span class="badge bg-success  badge-pill"><i class="fas fa-check me-1"></i>{{ lesson.get_status_display}}</span> 
                 {% elif lesson.status == "deny" %}
                 <span class="badge bg-danger  badge-pill"><i class="fas fa-times me-1"></i>{{ lesson.get_status_display}}</span> 
                {% endif %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#exampletable').DataTable();
} );
</script>