{% load static %}
{% load lessonmanagement_extras %}
{% now_schoolyear_tag as schoolyear_tag %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'imgs/logo_thcsanhson.png'%}" alt=""
        height="30px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page"
            href="{% url 'index' %}">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/lesson' in request.path %} active {% endif %}" href="{% url 'lessons_schoolyear' schoolyear_tag  %}">Giáo án</a>
        </li>
        <li class="nav-item ">

          <a class="nav-link {% if 'schedule' in request.path %} active {% endif %}" href="{% url 'now_schedule' request.user.username %}">
            Lịch báo giảng
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'check_lessons_subject' request.user.teacher.current_schoolyear.start_date.year 'all' %}">Duyệt giáo án</a></li>

            <!-- <li><a class="dropdown-item" href="{% url 'dashboard'%}">Thống kê</a></li> -->


            <li><a class="dropdown-item" href="{% url 'admin:index'%}">Quản trị</a></li>
           
          </ul>
        </li>
      </ul>

      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'addlesson' %}" class=" btn btn-light  me-2
        {% if request.path == '/lesson/add/'%}
        active
        {% endif %}
        ">
        <i class="fas fa-plus"></i>
        
        </a>
        <a href="{% url 'profile' %}" class=" btn btn-outline-light me-2
        {% if request.path == '/profile/'%}
        active
        {% endif %}
        ">
       {{ request.user.teacher.full_name }}
        </a>
        <a class=" btn btn-secondary
        " href="{% url 'logout' %}"><i class="fas fa-sign-out-alt me-2"></i>Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>