
          {% extends 'base.html' %}
          {% load static %}
          {% block content %}
          {% load lessonmanagement_extras %}
          {% load humanize %}
          {% load lessonmanagement_extras %}
          {% with teacher=request.user.teacher %}
            <h4 class="mt-5 mb-5 text-center"><i class="far fa-calendar-check me-3"></i>Lịch báo giảng của {{ request.user.teacher.full_name }} <small class="text-muted">Năm học {{ schedule_morning.0.lesson.schoolyear }}</small> </h4>
           <div class="card rounded shadow-sm py-3">
            <div class="card-body">
                <div class="row justify-content-center align-items-end">
                    <div class="col-lg-4 ps-5">
                            <h4>Tuần {{ w }} {% now 'W' as current_week %} {% if w == current_week|add:0 %} <small class="text-muted">Tuần này</small>  {% endif %}</h4>
                        {% now "W" as now_week %}
                        <a href="{% url 'schedule' w|add:-1 %}" class=" btn btn-secondary me-2 border "><i class="fas fa-step-backward me-2"></i>Tuần trước</a>
                        <a href="{% url 'schedule' w|add:1 %}" class=" btn btn-secondary me-2 border ">Tuần sau<i class="fas fa-step-forward ms-2"></i></a>
                    </div>
                    <div class="col-lg-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row ">
                                <label for="search_date" class="form-label  fw-bold">
                                    Chọn ngày
                                    </label>
                                <div class="col-9"><input type="date" class="form-control" name="search_date" id="search_date">
                                </div>
                                <div class="col"><button type="submit" name="search_date" class="btn btn-secondary">Tìm</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 ">
                        <form method="POST">
                            {% csrf_token %}
                        <div class="row">
                            <label for="exampleDataList" class="form-label fw-bold">Chọn tuần</label>
                            <div class="col-9">
                        <input type="search" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Tìm theo tuần..." name="week_search">
                        <datalist id="datalistOptions">
                            {% for monday in monday_week_schedule %}
                            <option value="{{ monday|date:'W'}}"> {{ monday|date:'SHORT_DATE_FORMAT'}} đến {% with satday=monday|plus_days:6 %}  {{ satday|date:'SHORT_DATE_FORMAT' }}{% endwith %}</option>
                            {% endfor %}
                        </datalist>
                            </div>
                            <div class="col"><button type="submit" name="btnweek" class="btn btn-secondary">Tìm</button></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
           </div>
            <h3 class="mt-4 mb-4 text-center">Buổi sáng</h3>
          {% include 'schedule/table_schedule_all.html' %}
          {% endwith %}
           {% endblock %}