{% load lessonmanagement_extras %}



<table class="table table-bordered bg-white shadow-sm" id="myTable_morning">
    <thead>
      <tr>
        <th scope="col">Tiết</th>
        {% for i in '234567'|make_list %}
        <th scope="col">Thứ {{ i }} <small class="text-dark fw-normal">/
          {% with j=i|add:-2%}
          {% with newday=monday.0|plus_days:j %}

          {{ newday|date:'SHORT_DATE_FORMAT' }}

          {% endwith %}
          {% endwith %}
        </small></th>

        {% endfor %}

      </tr>
    </thead>
    <tbody>
      <tr>
       
        <th scope="row">1</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">2</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">3</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">4</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">5</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

{% for i in schedule_morning %}


  <script>

    window.onload = changeContent()
    function changeContent()
{

// tiết mấy
rn = {{ i.order_schedule }};

// Thứ mấy
cn = {{ i.dayofweek|add:"-2" }};
// Nội dung
content = " <small> <a href='#'><span class='badge bg-primary me-2'>{{ i.lesson.subject.title }} {{ i.lesson.level }} {{i.classyear.title}} </span></a><span class='badge bg-success me-2'>Tiết {{ i.lesson.start_number_lesson }} - {{ i.lesson.start_number_lesson|add:i.lesson.cout_number_lesson}} </span><a href='#' class='text-decoration-none link-dark'><br>{{ i.lesson.title }}</a>   </small>";  
var x=document.getElementById('myTable_morning').rows[parseInt(rn,10)].cells;
x[parseInt(cn,10)].innerHTML=content;
}
  </script>

  {% endfor %}

