

{% load lessonmanagement_extras %}
<style>
  table td:hover {
    background-color: rgba(0,0,0,.075);
    cursor: pointer;
}
</style>
<div class="table-responsive">
<table class="table table-bordered  bg-white shadow-sm" id= 'morning_table'>
  <caption><i class="far fa-lightbulb me-2"></i>Chọn trực tiếp giáo án trong bảng để điều chỉnh lịch báo giảng</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for i in '234567'|make_list %}
        <th scope="col">Thứ {{ i }} <small class="text-dark fw-normal">/
          {% with j=i|add:-2%}
          {% with newday=monday|plus_days:j %}
          {{ newday|date:'SHORT_DATE_FORMAT' }}
          {% endwith %}
          {% endwith %}
        </small></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm lịch báo giảng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method="POST">
      <div class="modal-body">
        <h6>Chọn giáo án để thêm vào lịch báo giảng</h6>
        <input type="hidden" id="form_date" name="form_date">
        <select class="form-select" size="5" aria-label="size 3 select example">
          {%for lesson in all_lesson%}
          <option value="{{lesson.id}}">{{lesson.subject}} - Bài {{lesson.number_lesson}}: {{lesson.title}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-primary">Thêm</button>
      </div>
    </form>
    </div>
  </div>
</div>




{% for i in schedule_morning %}
  <script>
    window.onload = changeContent()
    function changeContent()
{
// tiết mấy
rn = {{i.order_schedule}};
// Thứ mấy
cn = {{i.dayofweek|add:1}};
// Nội dung

content = "<small><span class='badge {% if i.lesson.status == "pending"%}bg-warning{%elif i.lesson.status == "acept"%}bg-success{%else%}bg-danger{%endif%} me-2'>{{ i.lesson.get_status_display }}</span><span class='badge bg-primary me-2'>{{ i.lesson.subject.subject.title }} {{ i.lesson.subject.level }}{{i.classyear.title}} </span><span class='badge bg-primary me-2'>Bài {{ i.lesson.number_lesson }} </span><br>{{ i.lesson.title }}</small>";  
var x=document.getElementById('morning_table').rows[parseInt(rn,10)].cells;
x[parseInt(cn,10)].innerHTML=content;
x[parseInt(cn,10)].setAttribute("name", "{{ i.lesson.id }}"); 
}
  </script>
  {% endfor %}
  <script>
    $(document).ready(function(){
      $("#morning_table").find("td").click(function(){
    if ($(this).attr('name')){
      var idLesson = $(this).attr('name');
      window.location='/lesson/' + idLesson + '/';
    }
    else{
    var column = $(this).parent().children().index(this);
    var row = $(this).parent().parent().children().index(this.parentNode);
    var monday_day = {{monday.day}} - 1 + column;
    var monday_month = {{monday.month}};
    var monday_year = {{monday.year}};
    var date_schedule = [monday_year, monday_month, monday_day];
    var date = date_schedule.join('-');
    var order_shedule = row + 1
    document.getElementById('form_date').innerHTML=date

    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
    myModal.show()

    // window.location='/schedule/add/?date=' + date + '&session=morning&ordered=' + order_shedule;
    }
   
});

});
  
  </script>



