

<h4 class="mb-3">Buổi sáng</h4>
<table class="table table-bordered bg-white shadow-sm">
    <thead>
      <tr>
        <th scope="col">Tiết</th>
        <th scope="col">Thứ 2</th>
        <th scope="col">Thứ 3</th>
        <th scope="col">Thứ 4</th>
        <th scope="col">Thứ 5</th>
        <th scope="col">Thứ 6</th>
        <th scope="col">Thứ 7</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <th scope="row">1</th>

        {% for i in weekday_list %}
                    <td> 
                    {% for j in schedule %}
                      {% if i == j.dayofweek %}
                      <small> <span class="badge bg-primary">Tiết 32</span> <span class="badge bg-danger">Toán học 6A</span><a href="#" class="text-decoration-none link-dark "> Hai giả thiết nguyên nhân dương tính nCoV sau 14 ngày cách ly</a></small>
               
                            {% endif %}
                                
                    {% endfor %}
                    </td>


        {% endfor %}


      </tr>
      <tr>
       
        <th scope="row">2</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">3</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">4</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">5</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>





  <h4 class="mb-3 mt-4">Buổi chiều</h4>
<table class="table table-bordered bg-white">
    <thead>
      <tr>
        <th scope="col">Tiết</th>
        <th scope="col">Thứ 2</th>
        <th scope="col">Thứ 3</th>
        <th scope="col">Thứ 4</th>
        <th scope="col">Thứ 5</th>
        <th scope="col">Thứ 6</th>
        <th scope="col">Thứ 7</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
       
        <th scope="row">2</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">3</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">4</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
       
        <th scope="row">5</th>
       
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>