{% load lessonmanagement_extras %}
<style>
  table td:hover {
    background-color: rgba(0,0,0,.075);
    cursor: pointer;
}


</style>


<div class="table-responsive">

<table class="table table-bordered  bg-white shadow-sm" id= 'afternoon_table'>
  <caption><i class="far fa-lightbulb me-2"></i>Chọn trực tiếp giáo án trong bảng để điều chỉnh lịch báo giảng</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for i in '234567'|make_list %}
        <th scope="col">Thứ {{ i }} <small class="text-dark fw-normal">/
          {% with j=i|add:-2%}
        
          {% endwith %}
        </small></th>

        {% endfor %}

      </tr>
    </thead>
    <tbody>
      <tr>
       
        <th scope="row">1</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">2</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">3</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">4</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       
        <th scope="row">5</th>
       
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>




{% for i in schedule_afternoon %}


  <script>

    window.onload = changeContent()
    function changeContent()
{

// tiết mấy
rn = {{ i.order_schedule }};

// Thứ mấy
cn = {{ i.dayofweek|add:"-2" }};
// Nội dung
content = "<small><span class='badge bg-primary me-2'>{{ i.lesson.subject.title }} {{ i.lesson.level }} {{i.classyear.title}} </span><span class='badge bg-success me-2'>Tiết {{ i.lesson.start_number_lesson }} - {{ i.lesson.start_number_lesson|add:i.lesson.cout_number_lesson}} </span><br>{{ i.lesson.title }}</small>";  
var x=document.getElementById('afternoon_table').rows[parseInt(rn,10)].cells;
x[parseInt(cn,10)].innerHTML=content;
x[parseInt(cn,10)].setAttribute("name", "{{ i.lesson.id }}"); 
}


  </script>

  {% endfor %}

  









  <!-- <script>
    $(document).ready(function(){
      $("td").click(function(){
    if ($(this).attr('name')){
      var idLesson = $(this).attr('name');
      window.location='/lesson/' + idLesson + '/';
    }
    else{
    var column = $(this).parent().children().index(this);
    var row = $(this).parent().parent().children().index(this.parentNode);
    window.location='/schedule/add/yesfssfar/month/date/'+ column + '/' + row + '/';
    }
});
});
  </script> -->

