<div class="bg-white border shadow-sm p-3 rounded-pill mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 ">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-decoration-none"><i class="fas fa-home me-2"></i>Trang chủ</a></li>
        <li class="breadcrumb-item"> <a href="{% url 'lessons' %}" class="text-decoration-none">Giáo án</a></li>
        <li class="breadcrumb-item "> <a href="{% url 'lessons_subject_level' subject_slug level %}" class="text-decoration-none">{{ subject_name }} {{ level }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{ level }}{{ title|upper }}</li>
      </ol>
    </nav>
  </div>